<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <link href="static/main.css" type="text/css" rel="stylesheet">
    <title>GoFigure</title>

</head>
<header>
    <nav class="nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            </li>
        </ul>
    </nav>
</header>

<body>
<body>
    <div class="results">
        <p>{{.}}</p>
    </div>
</body>
</body>

</html>
